/*Не забывать побить стили*/
html, body, #root {
  min-height: 100vh;
  min-width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#map {
  position: absolute;
  width: 100vw;
  top: -60px;
  box-sizing: border-box;
  height: 100vh;
  left: 0;
}

.menu {
  width: 200px;
}


.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.map__circle {
  border: 1px !important;
  stroke-width: 2px;
}

.auth__link {
  display: inline;
  color: #06a1c3;
}

.map__button {
  opacity: .8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  margin-top: 15px;
  padding-top: 3px;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: #fff;
  border: 0;
  font-size: 25px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.map__button:focus {
  outline: none;
}

.map__button:active {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu__header {
  font-size: 20px;
  font-weight: 700;
}

.map__control {
  z-index: 999;
  right: 15px;
  top: 30vh;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.map__event-info {
  box-sizing: border-box;
  padding: 80px 20px;
  position: absolute;
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  left: -300px;
  top: 0;
  overflow: scroll;
  z-index: 999;
  transition: all 300ms;
}

.login {
  margin: auto;
}

.login__paper {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_big {
  width: 1280px;
  max-width: 95vw;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  left: 0;
}

.add {
  position: relative;
  top: -55px;

}

.add__error {
  color: red;
  margin-bottom: 10px;
}

.add__form {
  width: 100%;
}

.map__event-title {
  text-align: center;
}

.map__event-description {
  font-size: 18px;
}

.map__event-additional {
  font-size: 16px;
  color: #676;
}

.map__event-img {
  width: 100%;
}

.map__card {
  font-size: 14px;
  width: 100vw;
  height: 40vh;
}

.loading {
  margin-top: 20px;
  height: 80px;
}

.card {
  max-width: 400px;
  margin: 10px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card__image {
  height: 200px;
}

.no-style {
  text-decoration: none;
  width: 100%;
  color: inherit;
}

.menu__subheader {
  font-weight: 300;
  font-style: italic;
}

.about {
  margin-top: 20px;
}

.map__wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 60px;
}

.card__left {
  margin: 15px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 0;
}

.page {
  color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: #eeeeee;
}

.content {
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #333;
}

.wrapper {
  margin-top: 7px;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header__buttons-area {
  width: 200px;
  display: flex;
}

.header__login {
  margin-right: 10px;
}

.footer__center {
  display: flex;
  justify-content: center;
}

.footer__text {
  display: inline-block;
}

.footer__mail {
  color: rgba(0, 0, 0, .7) !important;
  padding-left: 5px;

}

.add__address {
  margin-bottom: 10px;
}

.form__map {
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
}

#form__map {
  height: 500px;
}

.event {
  padding-bottom: 30px;
  margin: 0 10px;
  margin-bottom: 10px;
}

.event__header {
  margin: 30px 0;
  margin-bottom: 5px;
  text-align: center;
}

.event__images {
  height: 60vw;
  display: block;
  overflow: hidden;
  width: 100%;
}



.event__control-bar {
  background-color: #fff !important;
}

.event__date {
  margin-left: 10px;
}

.map__event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

.event__text {
  margin: 20px 40px;
}

.height-control {
  height: 100vh;
  margin-top: -60px;
}

.event__additional {
  color: #777;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.event__link {
  margin-left: 30px;
  margin-bottom: 20px;
  display: block;
}

.back {
  margin-top: 7px;
}

.event__control {
  display: none;
}

.hide {
  display: none !important;
}

@media (min-width: 1280px) {
  .content {
    position: relative;
    flex: 1 0 auto;
    margin-top: 60px;
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }

  .event__images_width {
    width: 1280px;
  }

  .event__images {
    height: 700px;
    display: block;
    overflow: hidden;
    width: 100%;
  }

  .center {
    width: 1280px;
    margin: 0 auto;
  }


}

@media (max-width: 500px) {
  .map__event-info {
    bottom: -100vh;
    display: none;
    padding-top: 20px;
    top:auto;
    height: 40vh;
    bottom: -50vh;
    width: 100vw;
    z-index: 9999;
  }
  .show {
    display: block;
    bottom: 0;
    overflow: hidden;
  }

  .add {
    width: 95vw;
  }

  .header__buttons {
    font-size: 10px !important;
  }


  .map__info-full {
    height: 100vh;
    overflow: scroll;
  }

  .login__paper {
    width: 100%;
  }

  .login {
    width: 95vw;
    margin-top: 20%;
  }
}

@media (min-width: 500px) {
  .event__control {
    display: inline;
  }

  .hidden {
    display: none !important;
  }

}
